{% extends "template.html" %}
{% block content %}
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <h1 class="text-center">About Me</h1>
            <blockquote class="blockquote">
                <p class="mb-0" style="padding: 4px;margin: 0px;padding-right: 20px;padding-bottom: 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer" style="padding: 0px;margin: 18px;">Someone famous</footer>
            </blockquote>
            <p style="padding: 20px;"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada pellentesque risus, non vestibulum eros scelerisque at. Mauris blandit lorem tempor finibus feugiat. Morbi euismod mauris vitae velit bibendum efficitur. Fusce faucibus
                condimentum mi id fermentum. Nulla facilisi. Suspendisse iaculis in ante eu lobortis. Vestibulum imperdiet lectus eget lectus dapibus, eget malesuada purus porttitor.Duis sit amet ante commodo felis feugiat elementum sed sit amet sapien.
                Vestibulum ac turpis eu ipsum luctus sagittis. Integer fermentum neque rutrum leo sagittis dapibus. Maecenas euismod blandit hendrerit. Curabitur mauris dui, tempor eget enim eget, accumsan ultrices neque. Fusce varius diam sem, ac laoreet
                dui fringilla a. Aenean neque justo, tristique quis nunc a, semper placerat nulla. Donec laoreet erat in aliquet imperdiet. Donec commodo urna faucibus velit dictum sodales. Donec non tortor eget mauris rutrum condimentum. Cras tincidunt
                nisl quis tempor condimentum. Duis sit amet efficitur felis. Sed quam orci, vestibulum vitae turpis et, auctor aliquet nibh. In id turpis ante. Donec ac mattis tellus.Quisque ac erat blandit nibh finibus scelerisque. Duis varius sagittis
                arcu, et posuere ipsum tempus ut. Maecenas ac elit sit amet nulla blandit pulvinar quis eget dolor. Vestibulum blandit felis magna. Integer sit amet leo ac orci auctor aliquet. Maecenas efficitur congue neque. Maecenas at leo sollicitudin
                lacus condimentum bibendum. Nulla vestibulum lectus non nunc lobortis, quis volutpat eros ullamcorper. Curabitur maximus consectetur malesuada. In auctor ullamcorper magna vel finibus. Maecenas ipsum lectus, dapibus a elit id, aliquet
                hendrerit diam. Suspendisse eu dui ac est imperdiet ultrices. Pellentesque vitae turpis in lorem lobortis cursus sit amet at nunc. Aenean vel tellus vestibulum, suscipit lorem a, tempor velit.Pellentesque tincidunt lectus ac tellus commodo,
                a faucibus nibh lobortis. Suspendisse volutpat nulla quis nisi imperdiet laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dapibus neque at nulla viverra tempor. Pellentesque consequat
                tempor ipsum vitae pulvinar. Proin non tincidunt libero. Phasellus gravida feugiat mi in vulputate. Suspendisse tincidunt tincidunt augue in vestibulum. Mauris tincidunt ante sit amet augue finibus dignissim. Nulla diam mauris, pulvinar
                a elementum id, ultrices a velit. Etiam tempor egestas sagittis. Sed sollicitudin nibh ut risus vestibulum, non hendrerit purus imperdiet. Etiam eget justo massa. Sed in metus sit amet velit laoreet scelerisque at ut ligula. Morbi imperdiet
                feugiat lorem, eget lobortis ipsum auctor id. Nullam luctus eget felis nec laoreet.<br><br></p>
        </section>
    </main>
{% endblock %}