{% extends "template.html" %}
{% block content %}
<main class="page lanidng-page" style="padding-top: 80px;">
    <div class="profile-card">
        <div class="profile-back" style="background-color: #0ea0ff;"></div><img class="rounded-circle profile-pic" src="/static/img/Good_Catholic_Boi.jpg">
        <h1>About Me</h1>
        <p class="profile-bio">According to all known laws of aviation, there is no way a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyway because bees don't care what humans think is impossible.
            Yellow, black. Yellow, black. Yellow, black. Yellow, black. Ooh, black and yellow! Let's shake it up a little. Barry! Breakfast is ready! Ooming! Hang on a second. Hello? - Barry? - Adam? - Oan you believe this is happening? - I can't.
            I'll pick you up. Looking sharp. Use the stairs. Your father paid good money for those. Sorry. I'm excited. Here's the graduate. We're very proud of you, son. A perfect report card, all B's. Very proud. Ma! I got a thing going here. -
            You got lint on your fuzz. - Ow! That's me! - Wave to us! We'll be in row 118,000. - Bye! Barry, I told you, stop flying in the house! - Hey, Adam. - Hey, Barry. - Is that fuzz gel? - A little. Special day, graduation. Never thought I'd
            make it. Three days grade school, three days high school. Those were awkward. Three days college. I'm glad I took a day and hitchhiked around the hive. You did come back different. - Hi, Barry. - Artie, growing a mustache? Looks good.
            - Hear about Frankie? - Yeah. - You going to the funeral? - No, I'm not going. Everybody knows, sting someone, you die. Don't waste it on a squirrel. Such a hothead. I guess he could have just gotten out of the way. I love this incorporating
            an amusement park into our day. That's why we don't need vacations. Boy, quite a bit of pomp... under the circumstances. - Well, Adam, today we are men. - We are! - Bee-men. - Amen! Hallelujah! Students, faculty, distinguished bees, please
            welcome Dean Buzzwell. Welcome, New Hive Oity graduating class of... ...9:15. That concludes our ceremonies. And begins your career at Honex Industries! Will we pick ourjob today? I heard it's just orientation. Heads up! Here we go. Keep
            your hands and antennas inside the tram at all times. - Wonder what it'll be like?<br></p>
        <blockquote class="blockquote">
            <p class="mb-0">"The most likely way for the world to be destroyed, most experts agree, is by accident.&nbsp; That’s where we come in; we’re computer professionals.&nbsp; We cause accidents."<br></p>
            <footer class="blockquote-footer"><em>Nathaniel Borenstein</em><br></footer>
        </blockquote>
    </div>
    <section class="border rounded shadow-sm portfolio-block call-to-action border-bottom">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center content">
                <h3 class="text-dark">Want to see some code?</h3><a class="btn btn-outline-info btn-lg" role="button" href="//github.com/Descent098">Click Here</a><a href="#"></a></div>
        </div>
    </section>
</main>
<div class="border rounded testimonials-clean" style="background-color: #ffffff;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">All testimonials were obtained under minimal due rest (mostly)...</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">"He's alright I guess"</p>
                </div>
                <div class="author"><img class="rounded-circle" src="/static/img/Me.png">
                    <h5 class="name">John Doe</h5>
                    <p class="title">Made up person</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">"Leave me alone I don't know you"</p>
                </div>
                <div class="author"><img class="rounded-circle" src="/static/img/Kelly.png">
                    <h5 class="name">Kelly Something</h5>
                    <p class="title">Person on the train</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">"How do I do this in microsoft word?"</p>
                </div>
                <div class="author"><img class="rounded-circle" src="/static/img/me_mum.png">
                    <h5 class="name">Tracy Wood</h5>
                    <p class="title">Mother</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}