{% extends "template.html" %}
{% block content %}
    <main class="page hire-me-page"></main>
    <div class="bg-white contact-clean">
        <h2 class="text-center">Get in Contact</h2>
        <form data-bss-recipient="2642499f7568704b8d0148d5dc55d728" data-bss-subject="Resume Site Contact form">
            <div class="form-group"><input class="form-control" type="text" name="name" required="" placeholder="Name"></div>
            <div class="form-group"><select class="form-control" required=""><option value="12" selected="">Webapp/ Website Development</option><option value="14">Documentation</option><option value="13">Other</option></select></div>
            <div class="form-group"><input class="form-control is-invalid" type="email" name="email" required="" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
            <div class="form-group"><textarea class="form-control" rows="14" name="message" required="" placeholder="Message"></textarea></div>
            <div class="form-group text-center"><button class="btn btn-primary btn-lg" type="submit">send </button></div>
        </form>
    </div>

{% endblock %}