{% extends "template.html" %}
{% block content %}
    <main class="page hire-me-page"></main>
    <div class="bg-white contact-clean" style="background-color: #f0f0f0;">
        <form class="text-body" data-bss-recipient="2642499f7568704b8d0148d5dc55d728" data-bss-subject="Form Submission">
            <h2 class="text-center">Contact Me</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" required="" placeholder="Name" minlength="3"></div>
            <div class="form-group"><select class="border rounded form-control" required=""><option value="12" selected="">Webapp/ Website Development</option><option value="14">Documentation</option><option value="13">Other</option></select></div>
            <div class="form-group"><input class="form-control" type="email" name="email" required="" placeholder="Email" minlength="6" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"></div>
            <div class="form-group"><textarea class="form-control" rows="14" name="message" required="" placeholder="Message" minlength="10"></textarea></div>
            <div class="form-group text-center"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>

{% endblock %}