{% extends "template.html" %}
{% block content %}
 <main class="page lanidng-page" style="padding-top: 0px;">
        <div class="text-center profile-back" style="background-color: #0ea0ff;margin-top: 84px;"><img class="rounded-circle profile-pic" src="/static/img/Good_Catholic_Boi.jpg" style="margin-top: 60px;"></div>
        <section class="portfolio-block block-intro" style="margin-top: 50px;">
            <div class="container">
                <div class="about-me">
                    <p>Hi, my name is Kieran Wood. I currently work as a web service specialist for the university of calgary, developing documentation and troubleshooting for campus websites. I also work on website and webapp development, and video production.
                        If you are interested in reading about my work, take a look around the website.</p><a class="btn btn-outline-primary" role="button" href="/contact">Contact Me</a></div>
            </div>
            <section class="portfolio-block skills">
                <div class="container">
                    <div class="heading">
                        <h2>Skills Overview</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-document"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Documentation</h3>
                                    <p class="card-text">I have worked both personally and proffesionally to develop documentation content ranging from, text based introductory documentation for systems and software, &nbsp;video documentation, and step by step and troubleshooting
                                        guides.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" href="//github.com/Descent098">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-laptop"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Development</h3>
                                    <p class="card-text">I have development experience from both university classes, personal projects and proffesional projects. I have experience with native application development, website development and webapp development.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Diagnostics</h3>
                                    <p class="card-text">I have experience with diagnostics in both hardware and software. I have worked repairing laptops, desktops and phones, and also troubleshooting for website development with CMS systems.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Want to see some code?</h3><a class="btn btn-outline-primary btn-lg" role="button" href="//github.com/Descent098">Click Here</a><a href="#"></a></div>
            </div>
        </section>
    </main>


<!--
  _________    ___.                       ._____.               
 /   _____/__ _\_ |__   ______ ___________|__\_ |__   ____      
 \_____  \|  |  \ __ \ /  ___// ___\_  __ \  || __ \_/ __ \     
 /        \  |  / \_\ \\___ \\  \___|  | \/  || \_\ \  ___/     
/_______  /____/|___  /____  >\___  >__|  |__||___  /\___  >    
        \/          \/     \/     \/              \/     \/     
          __                                                         
        _/  |_  ____                                                 
        \   __\/  _ \                                                
         |  | (  <_> )                                               
         |__|  \____/                                                
                                                                
__________              ________  .__      __________.__        
\______   \ ______  _  _\______ \ |__| ____\______   \__| ____  
 |     ___// __ \ \/ \/ /|    |  \|  |/ __ \|     ___/  |/ __ \ 
 |    |   \  ___/\     / |    `   \  \  ___/|    |   |  \  ___/ 
 |____|    \___  >\/\_/ /_______  /__|\___  >____|   |__|\___  >
               \/               \/        \/                 \/ 
    -->
{% endblock %}

