{% extends "template.html" %}
{% block content %}
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Recent Work</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/TicketFresh" target="_blank"><img src="/static/img/nature/image1.jpg" alt="Card Image" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/TicketFresh" target="_blank">TicketFresh</a></h6>
                                <p class="text-muted card-text">An Open Source CRM/Ticketing System</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/cli-games" target="_blank"><img src="/static/img/CLI%20GAMES.jpg" alt="Card Image" height="235" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/cli-games" target="_blank">CLI-Games</a></h6>
                                <p class="text-muted card-text">A Collection of Games, and a Game Launcher Usable in a Terminal.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/WAQSS" target="_blank"><img src="/static/img/nature/image6.jpg" alt="Card Image" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/WAQSS" target="_blank">WAQSS</a></h6>
                                <p class="text-muted card-text">Web App Quick Start Scripts; A Selection of Scripts Designed to Quickstart Web Apps</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/Descent098/FOLI-U" target="_blank"><img src="/static/img/tech/image4.jpg" alt="Card Image" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/Descent098/FOLI-U" target="_blank">Foli-U</a></h6>
                                <p class="text-muted card-text">A School Poject of a Research "Social Network" Written in Java</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/Descent098/kusu" target="_blank"><img src="/static/img/nature/image5.jpg" alt="Card Image" height="235" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/Descent098/kusu" target="_blank">KUSU</a></h6>
                                <p class="text-muted card-text">Kieran's Useful Script Utilities; A Set of Utilities for Writing Scripts in Python<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/Descent098/kuws" target="_blank"><img src="/static/img/nature/image4.jpg" alt="Card Image" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/Descent098/kuws" target="_blank">KUWS</a></h6>
                                <p class="text-muted card-text">Kieran's Useful Web Scripts; A Set of Utilities to Help with Web Development &amp; Troubleshooting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}