{% extends "template.html" %}
{% block content %}
<main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Recent Work</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/TicketFresh" target="_blank"><img src="/static/img/nature/image1.jpg" alt="Card Image" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/TicketFresh" target="_blank">TicketFresh</a></h6>
                                <p class="text-muted card-text">An Open Source CRM/Ticketing System</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/cli-games" target="_blank"><img src="/static/img/CLI%20GAMES.jpg" alt="Card Image" height="235" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/cli-games" target="_blank">CLI-Games</a></h6>
                                <p class="text-muted card-text">A collection of games, and a game launcher usable in a terminal.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="//github.com/WAQSS" target="_blank"><img src="/static/img/nature/image6.jpg" alt="Card Image" class="card-img-top scale-on-hover"></a>
                            <div class="card-body">
                                <h6><a href="//github.com/WAQSS" target="_blank">WAQSS</a></h6>
                                <p class="text-muted card-text">Web App Quick Start Scripts,&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}