<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kieran Wood</title>
    <meta name="twitter:description" content="Welcome to kieranwood.ca if you are looking to inquire about website/webapp development you've come to the right place.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/static/img/Resume%20Site.png">
    <meta property="og:type" content="website">
    <meta name="description" content="Welcome to kieranwood.ca if you are looking to inquire about website/webapp development you've come to the right place.">
    <meta property="og:image" content="/static/img/Resume%20Site.png">
    <meta name="twitter:title" content="Kieran Wood">
    <meta name="theme-color" content="#0ea0ff">
    <link rel="icon" type="image/png" sizes="660x320" href="/static/img/Resume%20Site.png">
    <link rel="icon" type="image/png" sizes="660x320" href="/static/img/Resume%20Site.png">
    <link rel="icon" type="image/png" sizes="660x320" href="/static/img/Resume%20Site.png">
    <link rel="icon" type="image/png" sizes="660x320" href="/static/img/Resume%20Site.png">
    <link rel="icon" type="image/png" sizes="660x320" href="/static/img/Resume%20Site.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/untitled.css') }}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Contact-Form-Clean.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    
    <!-- Navigation Menu -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/" style="font-family: 'Kaushan Script', cursive;color: #0ea0ff;">Kieran Wood</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/projects">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/resume">Resume</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact me</a></li>
                </ul>
        </div>
        </div>
    </nav>
    
    
    <!-- Page Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    
    
    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/about">About me</a><a href="/contact">Contact me</a><a href="/projects">Projects</a></div>
            <div class="social-icons"><a href="//youtube.com/descent098"><i class="icon ion-social-youtube"></i></a><a href="//github.com/Descent098"><i class="icon ion-social-github"></i></a><a href="//linkedin.com/in/kieran-wood"><i class="icon ion-social-linkedin"></i></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/smart-forms.min.js"></script>
    
</body>

</html>